dist: xenial
language: python
env:
  global:
    - CC_TEST_REPORTER_ID=3d0abe23b60c405d5de7e038f366649a8002c4ccedccabad3da0e3b3e9b5049b
python:
  - "2.7.15"
  - "3.7.1"
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - pytest --cov=southwest/
  - pycodestyle */*.py --show-source --ignore=E501
after_script:
  - coverage xml
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT