coverage
datetime
docopts
pycodestyle
pytest
pytest-cov
pytest-mock
python-dateutil
pytz
requests
requests_mock
uuid
vcrpy
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
