interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mobile.southwest.com/js/config.js
  response:
    body: {string: !!python/unicode 'this.mwebAppConfig=function(e){function t(r){if(i[r])return
        i[r].exports;var n=i[r]={i:r,l:!1,exports:{}};return e[r].call(n.exports,n,n.exports,t),n.l=!0,n.exports}var
        i={};return t.m=e,t.c=i,t.d=function(e,i,r){t.o(e,i)||Object.defineProperty(e,i,{configurable:!1,enumerable:!0,get:r})},t.n=function(e){var
        i=e&&e.__esModule?function(){return e.default}:function(){return e};return
        t.d(i,"a",i),i},t.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},t.p="",t(t.s=9)}({9:function(e,t,i){"use
        strict";e.exports={MOBILE_API:"/api/extensions/",ACCOUNTS_API:"/api/customer/",RESERVATIONS_API:"/api/reservations-api/",TRAVEL_API:"/api/travel-api/",LUV_API:"https://luv.southwest.com",CAR_API:"/api/car-reservations/",CHAPI_MISC:"/api/mobile-air-booking/",CHAPI_AIR_OPERATIONS:"/api/mobile-air-operations/",CHAPI_AIR_BOOKING:"/api/mobile-air-booking/",OAUTH_API:"/api/security/",LOGGING_API:"/api/logging/",OAUTH_CLIENT_ID:"19ed95ce-83c1-4016-bfda-77b1d8740c9f",CONTENT_API:"/api/content-delivery/",API_KEY:"l7xx0a43088fe6254712b10787646d1b298e",GOOGLE_MAPS_CLIENT_ID:"gme-southwest",ANALYTICS_URL:"/content/app/scripts/analytics/dtm.js",USER_CAN_CHANGE_TOGGLES:!1,BRANCH_KEY:"key_live_giugWIpIXUYa4N52lEYdgbcfDyg004TU"}}});'}
    headers:
      content-type: [application/javascript]
      etag: ['"4cc-581ba2491fa40"']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: GET
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/page/check-in/XXXXXX
  response:
    body: {string: '{"checkInSessionToken": "[REDACTED]", "checkInViewReservationPage":
        {"pnr": {"confirmationNumber": "XXXXXX", "passengers": "[REDACTED]"}, "cards":
        [{"dates": {"first": "2019-02-18", "second": null}, "destinationDescription":
        "Los Angeles", "departureDate": "2019-02-18", "departureAirport": "PDX", "departureTime":
        "13:45", "arrivalAirport": "LAX", "arrivalTime": "16:05", "hazmatCheckInDisclaimer":
        "By tapping ''Check in'' you acknowledge that you understand the hazardous
        materials restrictions and penalties.", "flights": [{"flightNumber": "1614",
        "hasWifi": true, "originAirportCode": "PDX", "destinationAirportCode": "LAX",
        "destinationStationName": "Los Angeles", "departureDate": "Feb 18", "departureGate":
        null, "departureTime": "13:45"}], "travelTime": "2h 20m"}], "hazmatText":
        "Federal law forbids the carriage of hazardous materials such as aerosols,
        fireworks, lithium batteries and flammable liquids aboard the aircraft in
        your checked or carryon baggage. E-cigarettes are not permitted in checked
        baggage and must be transported in carryon baggage only.", "_v1_infoNeededToCheckin":
        {"href": "/v1/mobile/reservations/record-locator/XXXXXX/boarding-passes",
        "method": "POST", "body": {"names": [{"firstName": "[REDACTED]", "lastName":
        "[REDACTED]"}]}}, "_links": {"checkIn": {"href": "/v1/mobile-air-operations/page/check-in",
        "method": "POST", "body": {"recordLocator": "[REDACTED]", "checkInSessionToken":
        "[REDACTED]", "firstName": "[REDACTED]", "lastName": "[REDACTED]"}}, "travelDocuments":
        null}}, "prefillPassengerAPISDocuments": null}'}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: POST
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/page/check-in
  response:
    body: {string: '{"checkInConfirmationPage": {"messages": null, "flights": [{"boundIndex":
        0, "departureTime": "13:45", "gate": null, "passengers": "[REDACTED]", "flightNumber":
        "1614", "hasWifi": true, "travelTime": "2h 20m"}], "_v1_infoNeededToViewBoardingPasses":
        {"href": "/v1/mobile/record-locator/XXXXXX/mobile-boarding-passes", "method":
        "GET", "query": {"first-name": "[REDACTED]", "last-name": "[REDACTED]"}},
        "_links": {"boardingPasses": {"href": "/v1/mobile-air-operations/page/check-in/view-boarding-pass",
        "method": "POST", "body": {"recordLocator": "[REDACTED]", "firstName": "[REDACTED]",
        "lastName": "[REDACTED]", "checkInSessionToken": "[REDACTED]", "travelerID":
        "2005DBDA00087702"}}, "viewBoardingPassIssuance": {"href": "/v1/mobile-air-operations/page/check-in/mobile-issuance/XXXXXX",
        "method": "POST", "body": {"passengers": "[REDACTED]"}}}}}'}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"travelerID": "2005DBDA00087702"}'
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: POST
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/page/check-in/view-boarding-pass
  response:
    body: {string: '{"checkInViewBoardingPassPage": {"messages": null, "mobileBoardingPassURLs":
        ["https://mbp.southwest.com/mobiqa/wap/3e422f2/kSqHRGJvSGA/"], "mobileBoardingPassTabs":
        [{"title": "PDX - LAX", "departureDate": "Feb 18", "destinationDescription":
        "Los Angeles"}], "destinationDescription": "Los Angeles", "originAirportCode":
        "PDX", "destinationAirportCode": "LAX", "dates": {"first": "2019-02-18", "second":
        null}, "_v1_infoNeededForSharingBoardingPass": {"href": "/v1/mobile/record-locator/XXXXXX/operation-infos/mobile-boarding-pass/notifications",
        "method": "POST", "body": {"firstName": "[REDACTED]", "lastName": "[REDACTED]"}},
        "_links": {"href": "/v1/mobile-air-operations/feature/check-in/send-boarding-pass",
        "method": "POST", "body": {"recordLocator": "[REDACTED]", "checkInSessionToken":
        "[REDACTED]", "travelerID": "2005DBDA00087702"}}}}'}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 200, message: OK}
- request:
    body: '{"travelerID": "2005DBDA00087702", "recordLocator": "[REDACTED]", "checkInSessionToken": "[REDACTED]", "mediaType": "SMS", "phoneNumber": "1234567890"}'
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: POST
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/feature/check-in/send-boarding-pass
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 204, message: OK}
[...]
- request:
    body: '{"travelerID": "2005DBDA00087702", "recordLocator": "[REDACTED]", "checkInSessionToken": "[REDACTED]", "mediaType": "EMAIL", "phoneNumber": "test@example.com"}'
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: POST
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/feature/check-in/send-boarding-pass
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 204, message: OK}
version: 1
