interactions:
- request:
    body: iata=LAX&country=ALL&db=airports&iatafilter=true&action=SEARCH&offset=0
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://openflights.org/php/apsearch.php
  response:
    body: {string: '{"status": 1, "offset": 0, "max": "1", "airports": [{"name": "[REDACTED]",
        "city": "Los Angeles", "country": "United States", "iata": "LAX", "icao":
        "KLAX", "x": "-118.4079971", "y": "33.94250107", "elevation": "125", "apid":
        "3484", "timezone": "-8", "dst": "A", "tz_id": "America/Los_Angeles", "type":
        "airport", "source": "OurAirports", "ap_uid": null, "ap_name": "Los Angeles
        International. (LAX), United States"}]}'}
    headers:
      Content-Type: [text/html]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: GET
    uri: https://mobile.southwest.com/api/mobile-misc/v1/mobile-misc/page/view-reservation/XXXXXX
  response:
    body: {string: '{"viewReservationViewPage": {"dates": {"first": "2019-02-18",
        "second": null}, "checkInIneligibilityReason": null, "destinationDescription":
        "Los Angeles", "originAirport": {"name": "[REDACTED]", "state": "OR", "code":
        "PDX", "country": null}, "destinationAirport": {"name": "[REDACTED]", "state":
        "CA", "code": "LAX", "country": null}, "standbyFlight": null, "companion":
        null, "passengers": "[REDACTED]", "confirmationNumber": "XXXXXX", "shouldShowAddEarlyBirdButton":
        false, "bounds": [{"departureStatus": "ON TIME", "departureStatusType": "POSITIVE",
        "arrivalStatus": "ON TIME", "arrivalStatusType": "POSITIVE", "flights": [{"number":
        "1614", "wifiOnBoard": true}], "travelTime": "2h 20m", "departureDate": "2019-02-18",
        "departureTime": "13:45", "departureAirport": {"name": "[REDACTED]", "state":
        "OR", "code": "PDX", "country": null}, "arrivalTime": "16:05", "arrivalAirport":
        {"name": "[REDACTED]", "state": "CA", "code": "LAX", "country": null}, "passengerTypeCounts":
        {"adult": 1, "senior": 0}, "fareType": "Companion", "boundType": "DEPARTING",
        "standbyFlight": null, "stops": [], "isNextDayArrival": false}], "pageHeader":
        "PDX - LAX", "shareDetails": {"subject": "Southwest Flight 1614 Portland to
        Los Angeles", "confirmationInfo": "Confirmation #: XXXXXX", "passengerInfo":
        "[REDACTED]", "flightInfo": [{"header": "Departing Flight: Mon, Feb 18, 2019",
        "flightInfo": "Flight #: 1614", "departureInfo": "Departs: 01:45 PM PDX",
        "stops": null, "arrivalInfo": "Arrives: 04:05 PM LAX", "travelTime": "Travel
        time: 2hr 20 mins"}]}, "hasAnyCancelledFlights": false, "isCheckInEligible":
        true, "isCheckedIn": true, "isInternational": false, "isDynamicWaiver": false,
        "isNonRevPnr": false, "_v1_infoNeededToChange": {"href": "/v1/mobile/reservations/record-locator/XXXXXX",
        "method": "GET", "query": {"action": "CHANGE", "first-name": "[REDACTED]",
        "last-name": "[REDACTED]"}}, "_v1_infoNeededToCancel": {"href": "/v1/mobile/reservations/record-locator/XXXXXX",
        "method": "GET", "query": {"action": "CANCEL", "first-name": "[REDACTED]",
        "last-name": "[REDACTED]"}}, "_v1_infoNeededToAddCompanion": null, "_links":
        {"checkInSessionToken": "[REDACTED]", "earlyBird": null, "change": {"href":
        "/v1/mobile-air-booking/page/flights/change/current/XXXXXX", "method": "GET",
        "query": {"first-name": "[REDACTED]", "last-name": "[REDACTED]"}}, "cancel":
        {"href": "/v1/mobile-air-booking/page/cancel-reservation/XXXXXX", "method":
        "GET", "query": {"first-name": "[REDACTED]", "last-name": "[REDACTED]"}},
        "viewStandbyList": null, "checkIn": null, "viewBoardingPass": {"href": "/v1/mobile-air-operations/page/check-in/view-boarding-pass",
        "method": "POST", "body": {"firstName": "[REDACTED]", "lastName": "[REDACTED]",
        "recordLocator": "[REDACTED]"}}, "viewBoardingPositions": null, "addCompanion":
        null, "passportEmergencyContacts": null}, "hasUnaccompaniedMinor": false}}'}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: GET
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/page/check-in/XXXXXX
  response:
    body: {string: '{"checkInSessionToken": "[REDACTED]", "checkInViewReservationPage":
        {"pnr": {"confirmationNumber": "XXXXXX", "passengers": "[REDACTED]"}, "cards":
        [{"dates": {"first": "2019-02-18", "second": null}, "destinationDescription":
        "Los Angeles", "departureDate": "2019-02-18", "departureAirport": "PDX", "departureTime":
        "13:45", "arrivalAirport": "LAX", "arrivalTime": "16:05", "hazmatCheckInDisclaimer":
        "By tapping ''Check in'' you acknowledge that you understand the hazardous
        materials restrictions and penalties.", "flights": [{"flightNumber": "1614",
        "hasWifi": true, "originAirportCode": "PDX", "destinationAirportCode": "LAX",
        "destinationStationName": "Los Angeles", "departureDate": "Feb 18", "departureGate":
        null, "departureTime": "13:45"}], "travelTime": "2h 20m"}], "hazmatText":
        "Federal law forbids the carriage of hazardous materials such as aerosols,
        fireworks, lithium batteries and flammable liquids aboard the aircraft in
        your checked or carryon baggage. E-cigarettes are not permitted in checked
        baggage and must be transported in carryon baggage only.", "_v1_infoNeededToCheckin":
        {"href": "/v1/mobile/reservations/record-locator/XXXXXX/boarding-passes",
        "method": "POST", "body": {"names": [{"firstName": "[REDACTED]", "lastName":
        "[REDACTED]"}]}}, "_links": {"checkIn": {"href": "/v1/mobile-air-operations/page/check-in",
        "method": "POST", "body": {"recordLocator": "[REDACTED]", "checkInSessionToken":
        "[REDACTED]", "firstName": "[REDACTED]", "lastName": "[REDACTED]"}}, "travelDocuments":
        null}}, "prefillPassengerAPISDocuments": null}'}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: POST
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/page/check-in
  response:
    body: {string: '{"checkInConfirmationPage": {"messages": null, "flights": [{"boundIndex":
        0, "departureTime": "13:45", "gate": null, "passengers": "[REDACTED]", "flightNumber":
        "1614", "hasWifi": true, "travelTime": "2h 20m"}], "_v1_infoNeededToViewBoardingPasses":
        {"href": "/v1/mobile/record-locator/XXXXXX/mobile-boarding-passes", "method":
        "GET", "query": {"first-name": "[REDACTED]", "last-name": "[REDACTED]"}},
        "_links": {"boardingPasses": {"href": "/v1/mobile-air-operations/page/check-in/view-boarding-pass",
        "method": "POST", "body": {"recordLocator": "[REDACTED]", "firstName": "[REDACTED]",
        "lastName": "[REDACTED]", "checkInSessionToken": "[REDACTED]", "travelerID":
        "2005DBDA00087702"}}, "viewBoardingPassIssuance": {"href": "/v1/mobile-air-operations/page/check-in/mobile-issuance/XXXXXX",
        "method": "POST", "body": {"passengers": "[REDACTED]"}}}}}'}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"travelerID": "2005DBDA00087702"}'
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: POST
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/page/check-in/view-boarding-pass
  response:
    body: {string: '{"checkInViewBoardingPassPage": {"messages": null, "mobileBoardingPassURLs":
        ["https://mbp.southwest.com/mobiqa/wap/3e422f2/kSqHRGJvSGA/"], "mobileBoardingPassTabs":
        [{"title": "PDX - LAX", "departureDate": "Feb 18", "destinationDescription":
        "Los Angeles"}], "destinationDescription": "Los Angeles", "originAirportCode":
        "PDX", "destinationAirportCode": "LAX", "dates": {"first": "2019-02-18", "second":
        null}, "_v1_infoNeededForSharingBoardingPass": {"href": "/v1/mobile/record-locator/XXXXXX/operation-infos/mobile-boarding-pass/notifications",
        "method": "POST", "body": {"firstName": "[REDACTED]", "lastName": "[REDACTED]"}},
        "_links": {"href": "/v1/mobile-air-operations/feature/check-in/send-boarding-pass",
        "method": "POST", "body": {"recordLocator": "[REDACTED]", "checkInSessionToken":
        "[REDACTED]", "travelerID": "2005DBDA00087702"}}}}'}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 200, message: OK}
- request:
    body: '{"travelerID": "2005DBDA00087702", "recordLocator": "[REDACTED]", "checkInSessionToken": "[REDACTED]", "mediaType": "SMS", "phoneNumber": "1234567890"}'
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: POST
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/feature/check-in/send-boarding-pass
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 204, message: OK}
- request:
    body: '{"travelerID": "2005DBDA00087702", "recordLocator": "[REDACTED]", "checkInSessionToken": "[REDACTED]", "mediaType": "EMAIL", "phoneNumber": "test@example.com"}'
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: POST
    uri: https://mobile.southwest.com/api/mobile-air-operations/v1/mobile-air-operations/feature/check-in/send-boarding-pass
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 204, message: OK}
version: 1
