interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mobile.southwest.com/js/config.js
  response:
    body: {string: !!python/unicode 'this.mwebAppConfig=function(e){function t(r){if(i[r])return
        i[r].exports;var n=i[r]={i:r,l:!1,exports:{}};return e[r].call(n.exports,n,n.exports,t),n.l=!0,n.exports}var
        i={};return t.m=e,t.c=i,t.d=function(e,i,r){t.o(e,i)||Object.defineProperty(e,i,{configurable:!1,enumerable:!0,get:r})},t.n=function(e){var
        i=e&&e.__esModule?function(){return e.default}:function(){return e};return
        t.d(i,"a",i),i},t.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},t.p="",t(t.s=9)}({9:function(e,t,i){"use
        strict";e.exports={MOBILE_API:"/api/extensions/",ACCOUNTS_API:"/api/customer/",RESERVATIONS_API:"/api/reservations-api/",TRAVEL_API:"/api/travel-api/",LUV_API:"https://luv.southwest.com",CAR_API:"/api/car-reservations/",CHAPI_MISC:"/api/mobile-air-booking/",CHAPI_AIR_OPERATIONS:"/api/mobile-air-operations/",CHAPI_AIR_BOOKING:"/api/mobile-air-booking/",OAUTH_API:"/api/security/",LOGGING_API:"/api/logging/",OAUTH_CLIENT_ID:"19ed95ce-83c1-4016-bfda-77b1d8740c9f",CONTENT_API:"/api/content-delivery/",API_KEY:"l7xx0a43088fe6254712b10787646d1b298e",GOOGLE_MAPS_CLIENT_ID:"gme-southwest",ANALYTICS_URL:"/content/app/scripts/analytics/dtm.js",USER_CAN_CHANGE_TOGGLES:!1,BRANCH_KEY:"key_live_giugWIpIXUYa4N52lEYdgbcfDyg004TU"}}});'}
    headers:
      content-type: [application/javascript]
      etag: ['"4cc-581ba2491fa40"']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      X-API-Key: [l7xxb3dcccc4a5674bada48fc6fcf0946bc8]
      X-User-Experience-Id: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    method: GET
    uri: https://mobile.southwest.com/api/mobile-air-booking/v1/mobile-air-booking/page/view-reservation/XXXXXX
  response:
    body: {string: '{"viewReservationViewPage": {"dates": {"first": "2019-02-18",
        "second": null}, "checkInIneligibilityReason": null, "destinationDescription":
        "Los Angeles", "originAirport": {"name": "[REDACTED]", "state": "OR", "code":
        "PDX", "country": null}, "destinationAirport": {"name": "[REDACTED]", "state":
        "CA", "code": "LAX", "country": null}, "standbyFlight": null, "companion":
        null, "passengers": "[REDACTED]", "confirmationNumber": "XXXXXX", "shouldShowAddEarlyBirdButton":
        false, "bounds": [{"departureStatus": "ON TIME", "departureStatusType": "POSITIVE",
        "arrivalStatus": "ON TIME", "arrivalStatusType": "POSITIVE", "flights": [{"number":
        "1614", "wifiOnBoard": true}], "travelTime": "2h 20m", "departureDate": "2019-02-18",
        "departureTime": "13:45", "departureAirport": {"name": "[REDACTED]", "state":
        "OR", "code": "PDX", "country": null}, "arrivalTime": "16:05", "arrivalAirport":
        {"name": "[REDACTED]", "state": "CA", "code": "LAX", "country": null}, "passengerTypeCounts":
        {"adult": 1, "senior": 0}, "fareType": "Companion", "boundType": "DEPARTING",
        "standbyFlight": null, "stops": [], "isNextDayArrival": false}], "pageHeader":
        "PDX - LAX", "shareDetails": {"subject": "Southwest Flight 1614 Portland to
        Los Angeles", "confirmationInfo": "Confirmation #: XXXXXX", "passengerInfo":
        "[REDACTED]", "flightInfo": [{"header": "Departing Flight: Mon, Feb 18, 2019",
        "flightInfo": "Flight #: 1614", "departureInfo": "Departs: 01:45 PM PDX",
        "stops": null, "arrivalInfo": "Arrives: 04:05 PM LAX", "travelTime": "Travel
        time: 2hr 20 mins"}]}, "hasAnyCancelledFlights": false, "isCheckInEligible":
        true, "isCheckedIn": true, "isInternational": false, "isDynamicWaiver": false,
        "isNonRevPnr": false, "_v1_infoNeededToChange": {"href": "/v1/mobile/reservations/record-locator/XXXXXX",
        "method": "GET", "query": {"action": "CHANGE", "first-name": "[REDACTED]",
        "last-name": "[REDACTED]"}}, "_v1_infoNeededToCancel": {"href": "/v1/mobile/reservations/record-locator/XXXXXX",
        "method": "GET", "query": {"action": "CANCEL", "first-name": "[REDACTED]",
        "last-name": "[REDACTED]"}}, "_v1_infoNeededToAddCompanion": null, "_links":
        {"checkInSessionToken": "[REDACTED]", "earlyBird": null, "change": {"href":
        "/v1/mobile-air-booking/page/flights/change/current/XXXXXX", "method": "GET",
        "query": {"first-name": "[REDACTED]", "last-name": "[REDACTED]"}}, "cancel":
        {"href": "/v1/mobile-air-booking/page/cancel-reservation/XXXXXX", "method":
        "GET", "query": {"first-name": "[REDACTED]", "last-name": "[REDACTED]"}},
        "viewStandbyList": null, "checkIn": null, "viewBoardingPass": {"href": "/v1/mobile-air-operations/page/check-in/view-boarding-pass",
        "method": "POST", "body": {"firstName": "[REDACTED]", "lastName": "[REDACTED]",
        "recordLocator": "[REDACTED]"}}, "viewBoardingPositions": null, "addCompanion":
        null, "passportEmergencyContacts": null}, "hasUnaccompaniedMinor": false}}'}
    headers:
      Content-Type: [application/json]
      X-User-Experience-ID: [AAAA3198-4545-46F4-9A05-BB3E868BEFF5]
    status: {code: 200, message: OK}
version: 1
